<!DOCTYPE html>
<html lang='en'>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Food Equity AI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="../static/css/style.css">

         <!-- Bootstrap CSS -->
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        
         <!-- Leaflet CSS -->
         <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
         integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
         crossorigin=""/>
 
         <!-- Font-Awesome -->
         <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
 
         <!-- Leaflet zoom home plugin -->
         <link rel="stylesheet" href="../static/css/leaflet.zoomhome.css"/>

    </head>
    <body>
        <!-- Bootstrap navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
            <a class="navbar-brand" href="#">Food Equity AI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                </ul>
            </div>
            </div>
        </nav>

        <div class="bgimg-1">
            <div class="caption">
                <span class="border">Food Equity AI</span>
                <br>
                <h1 class="mt-5">Bridging the Gap Between Access and Insecurity with Machine Learning</h1>
            </div>
        </div>
          
        <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
            <h3 class="container my-5" style="text-align:center;">Machine Learning Results Here</h3>
            <p>Nascetur per nec posuere turpis, lectus nec libero turpis nunc at, sed posuere mollis ullamcorper libero ante lectus, blandit pellentesque a, magna turpis est sapien duis blandit dignissim. Viverra interdum mi magna mi, morbi sociis. Condimentum dui ipsum consequat morbi, curabitur aliquam pede, nullam vitae eu placerat eget et vehicula. Varius quisque non molestie dolor, nunc nisl dapibus vestibulum at, sodales tincidunt mauris ullamcorper, dapibus pulvinar, in in neque risus odio. Accumsan fringilla vulputate at quibusdam sociis eleifend, aenean maecenas vulputate, non id vehicula lorem mattis, ratione interdum sociis ornare. Suscipit proin magna cras vel, non sit platea sit, maecenas ante augue etiam maecenas, porta porttitor placerat leo.</p>
        </div>
          
        <div class="bgimg-2">
            <div class="caption">
                <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">Section header</span>
            </div>
        </div>
          
        <div style="position:relative;">
            <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
                <p>Talking points here</p>
            </div>
        </div>
          
        <div class="bgimg-3">
            <div class="caption">
                <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">Section header</span>
            </div>
        </div>
          
        <div style="position:relative;">
            <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
                <p>More talking points</p>
            </div>
        </div>
          
        <div class="bgimg-1">
            <div class="caption">
                <span class="border">Haroon - give us an A+</span>
            </div>
        </div>

        <div class="container my-5">
            <!-- Two Columns of Content -->
            <!-- <div class="container my-5"> -->
                <div class="row">
                <div class="col-md-6">
                    <h2>Column 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur massa ac bibendum euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec blandit risus sed odio tincidunt hendrerit. Nam pretium dignissim enim, quis maximus enim convallis vel. Sed vel risus sit amet odio laoreet lacinia vel ac lorem. In at justo vel sapien placerat bibendum. Duis malesuada sodales mauris ac feugiat. </p>
                </div>
                <div class="col-md-6">
                    <h2>Column 2</h2>
                    <p>Proin eget purus a nisl hendrerit feugiat in vel sapien. Pellentesque mollis quam a ex blandit malesuada. Nulla facilisi. Sed eget fringilla quam. Nunc eget efficitur nulla. Etiam lacinia, libero ut viverra lacinia, sapien leo elementum odio, sed laoreet ante ipsum vel justo. Morbi porta augue a aliquet tempus. </p>
                </div>
            <!--</div>-->

            <!-- Leaflet Map -->
            <!-- <div class="container my-5"> -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <h2>US Census Tracts with Low Food Access and Location of Food Markets</h2>
                        </div>
                        <div class="row">
                            <div class="dropdown mt-2">
                                <b>Select Jurisdiction</b>
                                <div class="dropdown-content mt-2 d-flex">
                                    <select id="jurisdiction-dropdown" onchange="jurisdictionChanged(this.value)"></select>
                                    <button type="button" class="btn btn-outline-secondary btn-block rounded-0" onclick='resetMap()'>Reset Map</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="map-button" class="leaflet-control">
                            </div>
                            <div id="myMap" class= "mt-3"></div> 
                            <p>*Indicates low food access for people living within 0.5 miles in urban areas and 10 miles in rural areas from the nearest food market</p>
                        </div>
                    </div>
                </div>
            <!--</div>-->
                            

            <!-- Tableau Charts -->
            <!-- <div class="container my-5"> -->
                <div class="row">
                    <div class="col-md-12 mt-4">
                        <h1>Tableau dashboard here</h1>
                        <iframe src="https://public.tableau.com/views/Superstore-Overview_16152560543330/Overview?:linktarget=_blank&:iframeSizedToWindow=true&:embed=y&:toolbar=no&:showAppBanner=false&:display_count=no&:showVizHome=no&:device=desktop&pRegion=<Parameter.pRegion>" width="100%" height="600"></iframe>
                    </div>
                </div>
            <!--</div>-->
        </div>

        <!-- Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>-->

        <!-- LeafletJS plugin -->
        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
        <script src="https://unpkg.com/leaflet-polylinedecorator"></script>

        <!-- LeafletJS heatmap plugin -->
        <script type="text/javascript" src="../static/js/leaflet-heat.js"></script>

        <!-- d3 plugin -->
        <script src="https://d3js.org/d3.v5.min.js"></script>
        
        <!-- Page logic -->
        <script type="text/javascript" src="../static/js/logic.js"></script>

    </body>
</html>